@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;

    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;

    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--dark-blue-300)
}

#text-result {
    color: var(--gray-400);
    display: none;
}

main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 25px 60px 25px 60px;
    background-color: var(--light-blue-100);
    gap: 40px;
}

@media (max-width: 400px) {
    main {
        display: flex;
        flex-direction: column;
    }
}

.type {
    width: 100%;
    height: 100%;
}

.decode {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    gap: 20px;
}

textarea {
    height: 100%;
    border: none;
    background: transparent;
    color: var(--dark-blue-400);
    font-size: 2.5rem;
    resize: none;
}

textarea::placeholder {
    color: var(--dark-blue-400)
}

header img {
    width: 30px;
}

.warning {
    display: flex;
    align-items: center;
    gap: 5px;
}

.warning img {
    width: 1.25rem;
}

.warning span {
    font-size: 1.125rem;
    color: var(--gray-400)
}

button {
    border: none;
    border-radius: 24px;
    padding: 24px;
    cursor: pointer;
}

button:hover {
    filter: brightness(105%);
}

.buttons-area {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.primary-button {
    background-color: var(--dark-blue-300);
    color: var(--light-blue-100);
}

.secundary-button {
    background-color: var(--light-blue-300);
    border: 1px solid var(--dark-blue-400)
}

.result {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 32px;
    box-shadow: 0px 0px 11px -8px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.result img {
    height: 100vh;
    width: 90%;
}

.result-message {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.result-message h2 {
    font-size: 1.5rem;
    color: var(--gray-500)
}

.result-message p {
    font-size: 1rem;
    color: var(--gray-400)
}